.td-navbar .navbar-brand__name {
    display: none;
  }

.landing-page-logo {
    padding-top: 0px;
    padding-bottom: 60px;
  }

.landing-page-head-text {
    // font-size:25px;
    line-height: 1.7em;
    font-weight:normal;
  }


.provider-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
      margin: 10px;
      border-radius: 2px;
      width: calc((100% - 70px) / 8);
      max-width: 200px;
    }
    img:hover {
      transform: scale(1.05);
      transform-origin: 50% 50%;
    }
  }

// section title
.home-section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }


  @keyframes logo-en-1-keyframes {
    from {
      left: 0%;
    }
  
    to {
      left: -2200px;
    }
  }
  
  @keyframes logo-en-2-keyframes {
    from {
      left: 2200px;
    }
  
    to {
      left: 0;
    }
  }
  
  @keyframes logo-zh-1-keyframes {
    from {
      left: 0%;
    }
  
    to {
      left: -4380px;
    }
  }
  
  @keyframes logo-zh-2-keyframes {
    from {
      left: 4380px;
    }
  
    to {
      left: 0;
    }
  }
  
  .home-logo-warp {
    justify-content: center;
  }
  

.home-logos {
    padding-bottom: 4rem;
    margin-top: 2rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    .logo-warp-1 {
      position: absolute;
      width: 100%;
      display: flex;
      margin-right: 50px;
    }
    .logo-warp-2 {
      position: absolute;
      width: 100%;
      display: flex;
    }
    .used-by-logo {
      display: block;
      height: 4rem;
      margin-left: 50px;
      margin-right: 50px;
    }
    .logo-en-1 {
      animation: logo-en-1-keyframes 30s linear infinite;
    }
    .logo-en-2 {
      animation: logo-en-2-keyframes 30s linear infinite;
    }
    .logo-zh-1 {
      .used-by-logo {
        width: 192px;
      }
      animation: logo-zh-1-keyframes 30s linear infinite;
    }
    .logo-zh-2 {
      .used-by-logo {
        width: 192px;
      }
      animation: logo-zh-2-keyframes 30s linear infinite;
    }
  }