---
---

{{% blocks/cover title="关于我们" image_anchor="bottom" height="auto" %}}
{{% /blocks/cover %}}

{{% blocks/section color="write" %}}
<div class="container">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-12">
        <h2 class="home-section-title">团队成员</h2>
        <div class="row mt-5">
            <div class="col-12 py-2">
                <a href="https://github.com/ZhangShuai-CN/">
                    <div class="text-white h-100 p-4">
                    <div class="d-flex align-items-center" style="height: 300px">
                        <img class="mx-auto mt-n3 p-3 mh-100 mw-100" src="/teams/zhangshuai.jpg" alt="Creator">
                    </div>
                    <h4 style="color:black"> 张帅 </h4>
                    <h5 style="color:#808080"> Creator </h5>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
        <div class="row mt-5">
        <div class="col-12 py-2 col-md-6">
            <a href="https://github.com/ZhangShuai-CN/">
            <div class="text-white h-100 p-4">
                <div class="d-flex align-items-center" style="height: 300px">
                <img class="mx-auto mt-n4 px-5 py-3 mh-100 mw-100" src="/teams/mr.anonymous.png" alt="Committer">
                </div>
                <h4 style="color:black"> Mr.Anonymous </h4>
                <h5 style="color:#808080"> Committer </h5>
            </div>
            </a>
        </div>
        <div class="col-12 py-2 col-md-6">
            <a href="https://github.com/ZhangShuai-CN/">
            <div class="text-white h-100 p-4">
                <div class="d-flex align-items-center" style="height: 300px">
                <img class="mx-auto mt-n4 px-5 py-3 mh-100 mw-100" src="/teams/ms.anonymous.png" alt="Committer">
                </div>
                <h4 style="color:black"> Ms.Anonymous </h4>
                <h5 style="color:#808080"> Committer </h5>
            </div>
            </a>
        </div>
        </div>
    </div>
    </div>
</div>

{{% /blocks/section %}}


{{% blocks/section color="info" %}}
    <h2 class="home-section-title">加入我们</h2>
    <h5 align="center"> 我们正在寻找对技术充满热情的小伙伴。
        在这里您将有机会与一群聪明的人一起工作。
        如果您有兴趣加入我们，请将您的简历发送给我们，或将您的朋友推荐给我们。
    </h5>
    <br>
    <h5 align="center">联系方式: 扫描下方微信二维码</h5>
    <br>
    <div style="text-align: center;">
        <img style="width:100px" src="/qrcode/zhangshuai_qrcode.jpg" alt="WeChat QRCode">
    </div>
{{% /blocks/section %}}