+++
title = "SharpGuard"
linkTitle = "SharpGuard"
+++

<!-- This is the first section -->
{{% blocks/lead color="dark" %}}
<div class="mx-auto">
    <p>
        <img class="landing-page-logo" src="/favicons/SharpGuard_shade.svg" alt="SharpGuard logo" width=60% height=60%>
    </p>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{% relref "/docs/" %}}">
		了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ZhangShuai-CN/">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>

    <p class="landing-page-head-text">SharpGuard 是一款高性能的开源 VPN 平台。</br>
        支持多种 VPN 隧道，如 IPSec VPN、SSL/TLS VPN、Wireguard 等。
    </p>
</div>
{{% /blocks/lead %}}


<!-- This is the second section -->
{{% blocks/section color="100" type="row" %}}

    {{% blocks/feature icon="fa-brain" title="软件定义安全 (SDS)" %}}
SDS 利用 SDN（软件定义网络）来增强网络安全性。
虚拟化的安全功能可以作为 VNF 在通用硬件上运行。
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-shuffle" title="高性能" %}}
极高速的加密原语并与 kernel bypass 技术相结合，提供高速的安全网络。
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-key" title="密码学完备" %}}
SharpGuard 使用最先进的加密技术，如 Noise 协议框架、Curve25519、ChaCha20、Poly1305、BLAKE2、SipHash24、HKDF。
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-cubes" title="模块化设计" %}}
模块化的设计，可以轻松的增加新的特性。
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-hourglass-start" title="Low Latency" %}}
    {{% /blocks/feature %}} -->

    <!-- {{% blocks/feature icon="fa-stopwatch" title="Low Latency" %}}
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fa-shield-halved" title="架构安全" %}}
SharpGuard 的架构设计易于实现并容易对其自身进行安全漏洞审计。
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-lock" title="Minimal Attack Surface" %}}
SharpGuard has been designed with ease-of-implementation and simplicity in mind.
It's easily auditable for security vulnerabilities.
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fa-chart-pie" title="可视化" %}}
流量可视化，通过仪表盘可对统计信息进行查询。
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-chart-bar" title="Statistics" %}}
Record counts or values of items over time, providing answers to questions such as "how many times has a specific machine provided data in the last hour/day/month?"
    {{% /blocks/feature %}} -->
{{% /blocks/section %}}


<!-- This is the third section -->
{{% blocks/section color="white" %}}
<h2 class="home-section-title">支持的平台</h2>
<div class="col">
        <div class="provider-wrapper">
        <img src="/supported_paltforms/ctyun.png" alt="ctyun" />
        <img src="/supported_paltforms/ecloud.png" alt="ecloud" />
        <img src="/supported_paltforms/huaweicloud.png" alt="HuaweiCloud" />
        <img src="/supported_paltforms/Aliyun.png" alt="Aliyun" />
        <img src="/supported_paltforms/TencentCloud.png" alt="TencentCloud" />
        <img src="/supported_paltforms/JDCloud.png" alt="JDCloud" />
        <img src="/supported_paltforms/UCloud.png" alt="UCloud" />
        <img src="/supported_paltforms/AWS.png" alt="AWS" />
        <img src="/supported_paltforms/Azure.png" alt="Azure" />
        <img src="/supported_paltforms/GoogleCloud.png" alt="GoogleCloud" />
    </div>
</div>
{{% /blocks/section %}}


<!-- This is the fourth section -->
<!-- {{% blocks/section color="white" type="home-logo-warp" %}}
<h2 class="home-section-title">企业用户</h2>
<div class="raw home-logos">
    <div class="logo-warp-1 logo-en-1">
    <a href="https://www.lixiang.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/lixiang.png" alt="lixiang logo">
    </a>
    <a href="https://www.tuyoo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tuyou.png" alt="tuyou logo">
    </a>
    <a href="https://www.nio.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nio.png" alt="nio logo">
    </a>
    <a href="https://www.tcl.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tcl.png" alt="tcl logo">
    </a>
    <a href="https://www.tianyancha.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tianyancha.png" alt="tianyancha logo">
    </a>
    <a href="https://www.huolala.cn/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/huolala.png" alt="huolala logo">
    </a>
    <a href="https://www.navinfo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/navinfo.png" alt="navinfo logo">
    </a>
    <a href="https://nsfocusglobal.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nsfocus.png" alt="nsfocus logo">
    </a>
    <a href="https://bitmain.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/bitmain.png" alt="bitmain logo">
    </a>
</div>
<div class="logo-warp-2 logo-en-2">
    <a href="https://www.lixiang.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/lixiang.png" alt="lixiang logo">
    </a>
    <a href="https://www.tuyoo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tuyou.png" alt="tuyou logo">
    </a>
    <a href="https://www.nio.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nio.png" alt="nio logo">
    </a>
    <a href="https://www.tcl.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tcl.png" alt="tcl logo">
    </a>
    <a href="https://www.tianyancha.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tianyancha.png" alt="tianyancha logo">
    </a>
    <a href="https://www.huolala.cn/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/huolala.png" alt="huolala logo">
    </a>
    <a href="https://www.navinfo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/navinfo.png" alt="navinfo logo">
    </a>
    <a href="https://nsfocusglobal.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nsfocus.png" alt="nsfocus logo">
    </a>
    <a href="https://bitmain.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/bitmain.png" alt="bitmain logo">
    </a>
</div>
{{% /blocks/section %}} -->


<!-- This is the fifth section -->
{{% blocks/section color="info" type="row" %}}
    {{% blocks/feature icon="fa-lightbulb" title="新特性" %}}
请关注此网站获取最新特性更新。
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fab fa-github" title="贡献" url="https://github.com/ZhangShuai-CN/" %}}
可在 **GitHub** 上提交 [Pull Request](https://github.com/ZhangShuai-CN/) 参与贡献。
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ShuaiZhang_CN" %}}
For announcement of latest features etc.
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fab fa-weixin" title="联系我们" %}}
<img style="width:100px" src="/qrcode/zhangshuai_qrcode.jpg" alt="WeChat QRCode">
    {{% /blocks/feature %}}

{{% /blocks/section %}}


