+++
title = "SharpGuard"
linkTitle = "SharpGuard"
+++

<!-- This is the first section -->
{{% blocks/lead color="dark" %}}
<div class="mx-auto">
    <p>
        <img class="landing-page-logo" src="/favicons/SharpGuard_shade.svg" alt="SharpGuard logo" width=60% height=60%>
    </p>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{% relref "/docs/" %}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ZhangShuai-CN/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>

    <p class="landing-page-head-text">SharpGuard is an extremely simple yet fast and modern open-source VPN platform.</br>
        Supports multiple VPN tunnels such as IPSec VPN, SSL/TLS VPN, Wireguard, etc.
    </p>
</div>
{{% /blocks/lead %}}


<!-- This is the second section -->
{{% blocks/section color="100" type="row" %}}

    {{% blocks/feature icon="fa-brain" title="Software-Defined Security (SDS)" %}}
SDS exploits the software-defined networking (SDN) to enhance network security.
Virtualizing security functions can run as VNFs on generic hardware.
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-shuffle" title="High Performance" %}}
A combination of extremely high-speed cryptographic primitives and use of kernel bypass technology means that secure networking can be very high-speed.
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-key" title="Cryptographically Sound" %}}
SharpGuard uses state-of-the-art cryptography, like the Noise protocol framework, Curve25519, ChaCha20, Poly1305, BLAKE2, SipHash24, HKDF, and secure trusted constructions.
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fa-cubes" title="Composable Modules" %}}
Modular design, flexible arch with many bonus features.
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-hourglass-start" title="Low Latency" %}}
    {{% /blocks/feature %}} -->

    <!-- {{% blocks/feature icon="fa-stopwatch" title="Low Latency" %}}
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fa-shield-halved" title="Minimal Attack Surface" %}}
SharpGuard has been designed with ease-of-implementation and simplicity in mind.
It's easily auditable for security vulnerabilities.
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-lock" title="Minimal Attack Surface" %}}
SharpGuard has been designed with ease-of-implementation and simplicity in mind.
It's easily auditable for security vulnerabilities.
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fa-chart-pie" title="Dashboards" %}}
Run queries against your indexes or statistics and view the results within custom visualisations.
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fa-chart-bar" title="Statistics" %}}
Record counts or values of items over time, providing answers to questions such as "how many times has a specific machine provided data in the last hour/day/month?"
    {{% /blocks/feature %}} -->
{{% /blocks/section %}}


<!-- This is the third section -->
{{% blocks/section color="white" %}}
<h2 class="home-section-title">Supported Platforms</h2>
<div class="col">
        <div class="provider-wrapper">
        <img src="/supported_paltforms/ctyun.png" alt="ctyun" />
        <img src="/supported_paltforms/ecloud.png" alt="ecloud" />
        <img src="/supported_paltforms/huaweicloud.png" alt="HuaweiCloud" />
        <img src="/supported_paltforms/Aliyun.png" alt="Aliyun" />
        <img src="/supported_paltforms/TencentCloud.png" alt="TencentCloud" />
        <img src="/supported_paltforms/JDCloud.png" alt="JDCloud" />
        <img src="/supported_paltforms/UCloud.png" alt="UCloud" />
        <img src="/supported_paltforms/AWS.png" alt="AWS" />
        <img src="/supported_paltforms/Azure.png" alt="Azure" />
        <img src="/supported_paltforms/GoogleCloud.png" alt="GoogleCloud" />
    </div>
</div>
{{% /blocks/section %}}


<!-- This is the fourth section -->
<!-- {{% blocks/section color="white" type="home-logo-warp" %}}
<h2 class="home-section-title">Enterprise Users</h2>
<div class="raw home-logos">
    <div class="logo-warp-1 logo-en-1">
    <a href="https://www.lixiang.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/lixiang.png" alt="lixiang logo">
    </a>
    <a href="https://www.tuyoo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tuyou.png" alt="tuyou logo">
    </a>
    <a href="https://www.nio.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nio.png" alt="nio logo">
    </a>
    <a href="https://www.tcl.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tcl.png" alt="tcl logo">
    </a>
    <a href="https://www.tianyancha.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tianyancha.png" alt="tianyancha logo">
    </a>
    <a href="https://www.huolala.cn/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/huolala.png" alt="huolala logo">
    </a>
    <a href="https://www.navinfo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/navinfo.png" alt="navinfo logo">
    </a>
    <a href="https://nsfocusglobal.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nsfocus.png" alt="nsfocus logo">
    </a>
    <a href="https://bitmain.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/bitmain.png" alt="bitmain logo">
    </a>
</div>
<div class="logo-warp-2 logo-en-2">
    <a href="https://www.lixiang.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/lixiang.png" alt="lixiang logo">
    </a>
    <a href="https://www.tuyoo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tuyou.png" alt="tuyou logo">
    </a>
    <a href="https://www.nio.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nio.png" alt="nio logo">
    </a>
    <a href="https://www.tcl.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tcl.png" alt="tcl logo">
    </a>
    <a href="https://www.tianyancha.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/tianyancha.png" alt="tianyancha logo">
    </a>
    <a href="https://www.huolala.cn/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/huolala.png" alt="huolala logo">
    </a>
    <a href="https://www.navinfo.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/navinfo.png" alt="navinfo logo">
    </a>
    <a href="https://nsfocusglobal.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/nsfocus.png" alt="nsfocus logo">
    </a>
    <a href="https://bitmain.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/users/bitmain.png" alt="bitmain logo">
    </a>
</div>
{{% /blocks/section %}} -->


<!-- This is the fifth section -->
{{% blocks/section color="info" type="row" %}}
    {{% blocks/feature icon="fa-lightbulb" title="New features!" %}}
The SharpGuard currently supports IPSec VPN, SSL/TLS VPN, Wireguard.
Please follow this space for updates!
    {{% /blocks/feature %}}

    {{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ZhangShuai-CN/" %}}
We do a [Pull Request](https://github.com/ZhangShuai-CN/) contributions workflow on **GitHub**. New users are always welcome!
    {{% /blocks/feature %}}

    <!-- {{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ShuaiZhang_CN" %}}
For announcement of latest features etc.
    {{% /blocks/feature %}} -->

    {{% blocks/feature icon="fab fa-weixin" title="Welcome to contact us!" %}}
<img style="width:100px" src="/qrcode/zhangshuai_qrcode.jpg" alt="WeChat QRCode">
    {{% /blocks/feature %}}

{{% /blocks/section %}}


